body {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 3.5rem auto 6rem;
  grid-template-areas: "header" "main" "footer";
}
body header {
  grid-area: header;
}
body main {
  grid-area: main;
}
body footer {
  grid-area: footer;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.Question {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.Question .Question_title {
  color: black;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  margin: 0 0 1rem 0;
}
.Question .Question_answer1 {
  background-color: green;
  color: white;
  padding: 0.7rem;
  margin-right: 2px;
}
.Question .Question_answer1:hover {
  opacity: 70%;
}
.Question .Question_answer2 {
  background-color: red;
  color: white;
  padding: 0.7rem;
}
.Question .Question_answer2:hover {
  opacity: 70%;
}

nav {
  padding: 0;
}

.mobile-nav {
  display: none;
  position: fixed;
  background-color: white;
  width: 80%;
  height: 100vh;
  z-index: 100;
}

.mobile-nav__items {
  list-style-type: none;
  z-index: 101;
}

.mobile-nav__item {
  margin: 0 0 1rem 0;
}
.mobile-nav__item a {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
.mobile-nav__item a:hover, .mobile-nav__item a :active {
  color: black;
}

.mobile-nav__item--cta {
  transform: translateX(-2rem);
}

.toggle-button {
  display: inline-block;
  width: 4rem;
  background: transparent;
  border: none;
  vertical-align: middle;
  padding-top: 0;
  padding-bottom: 0;
}
.toggle-button__bar {
  width: 100%;
  background: black;
  display: block;
  height: 0.2rem;
  margin: 0.6rem 0;
}

header {
  background-color: rgb(106, 106, 226);
  padding: 0.7rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 60;
}

main {
  min-height: calc(278vh - 3.5rem - 8rem);
  width: auto;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
@media (min-width: 40rem) {
  main {
    min-height: calc(190vh - 3.5rem - 8rem);
  }
}

.button_class {
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  width: 6.5rem;
}
.button_class .main-header__brand {
  transform: translateY(0.2rem);
}
.button_class img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

.main-nav {
  display: none;
}
@media (min-width: 30rem) {
  .main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
  }
}

.main-nav__items {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  vertical-align: middle;
  margin: 0;
}

.main-nav__item {
  margin: 0 0.5rem;
  text-decoration: none;
  font-size: small;
}
@media (min-width: 30rem) {
  .main-nav__item {
    font-size: large;
    margin: 0 0.7rem;
    vertical-align: middle;
  }
}

a {
  color: black;
  text-decoration: none;
}
a:hover, a :active {
  text-decoration: none;
  color: white;
}

.main-nav__item--cta,
.mobile-nav__item--cta {
  animation: wiggle 1s 3s 10 none;
}
.main-nav__item--cta a,
.mobile-nav__item--cta a {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 8px;
}
.main-nav__item--cta a:hover, .main-nav__item--cta a :active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a :active {
  background-color: white;
  color: var(--main-color);
  text-decoration: none;
}
@media (min-width: 30rem) {
  .main-nav__item--cta a,
  .mobile-nav__item--cta a {
    padding: 0.5rem 1rem;
  }
}

#product-overview {
  background-image: url("freedom.jpg");
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: local;
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 50%, transparent), url("freedom.jpg") center/cover no-repeat border-box, #ff1b68;
  height: 35vh;
  width: 100vw;
  position: relative;
  margin: 0;
  padding: 0;
}
@media (min-width: 30rem) {
  #product-overview {
    height: 40vh;
    background-position: 50% 25%;
  }
}
#product-overview h1 {
  color: white;
  font-size: 1.4rem;
  font-weight: bolder;
  position: absolute;
  bottom: 3%;
  left: 2%;
}
@media (min-width: 30rem) {
  #product-overview h1 {
    font-size: 3rem;
  }
}

footer {
  padding: 1rem;
}

.main-footer {
  background: black;
}

.main-footer-nav {
  text-align: center;
  padding-bottom: 0;
}

.main-footer__links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 30rem) {
  .main-footer__links {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.main-footer__link {
  margin: 0 1rem;
}
.main-footer__link a {
  color: white;
}
.main-footer__link:hover {
  opacity: 40%;
}

#plans {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
#plans .plan {
  background-color: rgb(106, 106, 226);
}
@media (min-width: 30rem) {
  #plans .plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    min-width: 8rem;
    max-width: 30rem;
    height: 25rem;
  }
}
#plans ul {
  list-style-type: none;
}
#plans ul li {
  color: white;
}
#plans h1, #plans h3 {
  color: white;
}
#plans .section-title {
  text-align: center;
  color: rgb(106, 106, 226);
}

@media (min-width: 30rem) {
  .plan__list {
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

.plan2--highlighted {
  background-color: blue;
  margin: 0.5rem 0;
}
@media (min-width: 30rem) {
  .plan2--highlighted {
    height: 28rem;
    min-width: 5rem;
    max-width: 50rem;
    width: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    z-index: 50;
  }
}
.plan2--highlighted .plan__annotation {
  color: blue !important;
  padding: 0.3rem;
  background-color: white;
  border: 2px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.button {
  transform: translateX(0.5rem);
}

#key-features {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  background-color: var(--main-color);
}
#key-features h1 {
  font-size: large;
  margin: 2rem;
  color: white;
}

@media (min-width: 30rem) {
  .key {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.key .key-feature__description {
  color: white;
  display: inline-block;
  -moz-column-count: 1;
       column-count: 1;
  margin-top: 0.4rem;
}
.key .key-feature {
  text-align: center;
}
@media (min-width: 30rem) {
  .key .key-feature {
    margin-right: 2rem;
  }
}
.key .image__container {
  border-radius: 100%;
  overflow: hidden;
  height: 150px;
  width: 150px;
  margin: auto;
  border: 0.2rem solid black;
}
.key .image__container img {
  height: 150px;
  width: 150px;
  margin: 0;
  padding: 0;
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}/*# sourceMappingURL=home.css.map */