@import "_variables.scss";



@mixin media-link($width) {
    @media (min-width:30rem) {
        @content;
    }
}

main{
    min-height: calc(170vh - 3.5rem - 8rem);
    @include media-link($width){
        min-height: calc(120vh - 3.5rem - 8rem);
    }
    @include media-link($width2){
        min-height:calc(175vh - 3.5rem - 8rem);
    }
}

// /* From Uiverse.io by Creatlydev */ 
.button {
    text-decoration: none;
    line-height: 1;
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 20px rgba(0,0,0,.05);
    background-color: #fff;
    color: #121212;
    border: none;
    cursor: pointer;
}
  
.button-decor {
    position: absolute;
    inset: 0;
    background-color: var(--clr);
    transform: translateX(-100%);
    transition: transform .3s;
    z-index: 0;
}
  
.button-content {
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;
    overflow: hidden;
}
  
.button__icon {
    width: 48px;
    height: 30px;
    background-color: var(--clr);
    display: grid;
    place-items: center;
}
  
.button__text {
    display: inline-block;
    transition: color .2s;
    padding: 2px 1.5rem 2px;
    padding-left: .75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}
  
.button:hover .button__text {
    color: #fff;
}
  
.button:hover .button-decor {
    transform: translate(0);
}




/* From Uiverse.io by reshades */ 
.button2 {
    background-color: #ffffff00;
    color: #fff;
    width: 8.5em;
    height: 2.5em;
    // border: black 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
}
  
.button2:hover {
    background-color: black;
    cursor: pointer;
}
  
.button2 svg {
    width: 1.6em;
    margin: -0.3em 0.3em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
}
  
.button2:hover svg {
    transform: translateX(5px);
}
  
.text {
    margin: 0 1.5em;
    font-size: small;
}

body{
    background: url(plans-background.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.collection{
//     display: flex;
//     flex-direction: column;
    // align-items: center;
    a{
        text-decoration: none;
    }
    .package{
        background: lighten(map-get($colors, classic2), 0%);
        // background: rgba(213, 255, 220, 0.95);
        border: 4px solid map-get($colors, third);
        min-width: 8rem;
        // max-width: 40rem;
        width: 60%;
        padding: 4rem;
        margin: 1rem 0;
        position: relative;
        top: 50px;
        left: 12rem;
        &:hover{
            border-color: var(--main-color);
        }
        .package_info{
            padding: 1em;
            border: 3px solid map-get($colors, classic);
            font-family: sans-serif;
            font-size: large;
            color:lighten(map-get($colors, classic ), 0%);
        }
        .package_subtitle{
            opacity: 60%;
            color: map-get($colors, third);
        }
    }
    .packageX{
        position: relative;
        top: 3rem;
        float: right;
        left: 0rem;
        margin-right: 50px;
    }
    .package2{
        position: relative;
        top: 26rem;
        background: map-get($colors, classic);
        .package_title2{
            color: map-get($colors, secondary)
        }
        .package_subtitle2{
            @extend .package_subtitle;
            color: white;
            opacity: 70%;
        }
        .package_info2{
            font-family: sans-serif;
            font-size: large;
            color: map-get($colors, classic);
            background-color: map-get($colors, secondary);
            border: 3px solid map-get($colors, classic);
            padding: 1em;
        }
    }
}
