@import "_variables.scss";


@mixin media-link($width){
    @media (min-width:30rem){
        @content;
    }
}

.signup-title{
    color: var(--main-color);
    text-align: center;
    padding: 1rem;
}
.signup-form {
    padding: 1rem;
    input,select,label{
        display: block;
        width: 100%;
        @include media-link($width){
            width: 40%;
            margin: auto;
        }
    }
}
.signup-form__checkbox{
    // margin: auto;
    width: 100%;
    @include media-link($width){
        width: 40%;
        margin: auto;
    }
    // .signup-form input[id*="terms"],
    // .signup-form input[id*="terms"] + label{
    //     display: inline-block;
    //     margin: 0;
    //     width: fit-content;
    // }
}
.signup-form input[id*="terms"],
.signup-form input[id*="terms"] + label{
    display: inline-block;
    margin: 0;
    width: fit-content;
}
.signup-form button[type='submit']{
    display: block;
    padding: 0.5em 1em;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    &:hover,&:focus,&:active{
        opacity: 40%;
    }
}
input:not([type='checkbox']), select{
    &:hover,&:focus,&:active{
        background:lighten(map-get($colors, main), 60%);
        border: map-get($colors, main) 2px solid;
        outline: none;
    }
}
.signup-form input[type='email']:invalid{
    border-color: red;
    background-color: rgb(252, 129, 129);

}